html, body {
    padding: 0;
    margin: 0;
}
.header h1 {
  margin: 0;
  -webkit-margin-before:0em;
  -webkit-margin-after:0em;
}
.container {

}

.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 1vh 0 1vh 0;
}
.headerSearch {
  background: white url('../images/search.png') right no-repeat;
  background-size: 16px;
  width: 92%;
}
.logo {
  flex: 0 0 75%;
  padding-left: 1vw;
}
.search {
  flex: 0 0 25%
}

.main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between
}
.content {
  flex: 0 0 75%;
  padding-left: 1vw;
}
.sidebar {
  padding-left: 1vw;
  flex: 0 0 25%;
  background-color: #aaa;
}
