html, body, .container {
  height: 100%;
}

.header h1 {
  margin: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 1vh 0 1vh 1vw;
}

.search {
  padding: 1vh 1vw 1vh 0;
}

.headerSearch {
  background: white url('../images/search.png') right no-repeat;
  background-size: 16px;
}

.header input {
  color: black;
}

.content {
  background: white;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  padding: 0 1vw 0 1vw;
}

.sidebar {
  background: #aaa;
  height: 100%;
  min-width: 18vw;
  padding: 0 1vw 0 1vw;
}
.sidebar h2 {
  text-align: center;
}

.main {
  display: flex;
  height: calc(100% - 7vh);
}
