body {
  background-color: white;
}

header {
  background-color: black;
  color: white;
  float: left;
  width: 100%;
  position: fixed;
  z-index: 1
}

header h1 {
  margin: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  padding: 1vh 0 1vh 1vw;
}

header nav {
  float: right;
  background-color: black;
  padding: 2vh 1vw 1vh 0;
}

header input {
  color: black;
}

.logo {
  position: relative;
  float: left;
}

.headerSearch {
  background: white url('../images/search.png') right no-repeat;
  background-size: 16px;
  padding-right: 16px;
  float: right;
}
.main {
  overflow: hidden;
}
.content {
  padding: 8vh 1vw 0 1vw;
  float: left;
  width: 78%;
  background-color: #fff;
}

.sidebar {
  padding: 8vh 1vw 0 1vw;
  margin-left: 80%;
  width: 19%;
  background-color: #aaa;
  position: fixed;
}

.sidebar h2 {
  text-align: center;
}

.content, .sidebar {
  padding-bottom: 99999px;
  margin-bottom: -99999px;
}
