body {
  background-color: white;
}

header h1 {
  margin: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

header {
  background-color: black;
  color: white;
  float: left;
  width: 100%;
}

header h1 {
  padding: 1vh 0 1vh 1vw;
}

header nav {
  float: right;
  background-color: black;
  margin: 2vh 1vh 1vh 1vh;
}

header input {
  color: black;
}

.logo {
  position: relative;
  float: left;
}

.headerSearch {
  background: white url('../images/search.png') right no-repeat;
  background-size: 16px;
  padding-right: 16px;
  float: right;
}

nav {
  padding: 1vh 1vw 1vh 0;
}

.main {
  padding-right: 20vw;
  overflow: hidden;
}

.content {
  float: left;
  width: 100%;
  background-color: #fff;
}

.sidebar {
  float: right;
  margin-right: -20vw;
  width: 20vw;
  background-color: #aaa;
}

.content, .sidebar {
  padding-bottom: 99999px;
  margin-bottom: -99999px;
}

section, aside {
  padding: 0 1vw 0 1vw;
}
